
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rajdhani:wght@500&display=swap');

body {
    background: linear-gradient(to bottom, #0c457a, #5880b4, #abc7ca, #87CEEB);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
} 


.main{
    background-image: url('background-weather.jpg'); 
    background-size: cover; 
    background-position: center center; 
    height: 100vh;

    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
    color: #ffffff; 
    text-align: center;
    padding: 20px;
}

h2{
    padding-left: 20px;
    width: max-content;
}



.main1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#holder{
    width: max-content;
}

.gjakova{
    display: flex;
    flex-direction: row;
    height: 50px;
}

#pejacity{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.results{
    display: flex;
    flex-direction: row;
    height: min-content;
    width: min-content;
    gap: 300px;
}

.details{
    display: flex;
    flex-direction: column;
}

.kondi{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-container {
    background: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 300px;
    font-size: 18px;
    outline: none;
    margin-right: 10px;
}


#search-button {
    padding: 10px 20px;
    background-color: #5ad0ff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Hover effect for the button */
#search-button:hover {
    background-color: #0077ff; /* Change to a slightly different color on hover */
}

/* Style for the search container */
.search-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dyshi{
    align-items: center;
    font-family: monospace;
    color: #333333;
    padding: 10px;
}

#treshi{
    font-family: monospace;
    align-items: center;
    color: #1a1a1a;
    padding: 10px;
}
.results{
    border-radius: 10px;
    background-color: rgba(148, 148, 148, 0.555);
}
#gjakova{
    font-family: monospace;
    align-items: center;
    color: #1a1a1a;
    padding: 10px;
}
